<h1>Formulario de Rutina</h1>


<form [formGroup]='rutinaForm'>
<div class="datosDeRutina">
    
    <mat-form-field appearance="outline">
        <mat-label>NombreRutina</mat-label>
            <input matInput type="text" formControlName="rutina">          
    </mat-form-field>
    
    <br>
     
    
    <mat-form-field appearance="outline">
        <mat-label>Repeticiones</mat-label>
            <input matInput type="int" formControlName="repeticiones">
    </mat-form-field>
    <br>

    
    <mat-form-field appearance="outline">
        <mat-label>Peso</mat-label>
            <input matInput type="int" formControlName="peso">
    </mat-form-field>
    <br>

   
        
</div> 

</form>

